@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

html, body {
    font-family: 'Playfair Display', serif;
    background: #0000FF;
    color: #fff;
    text-align: center;
    font-size: 70px;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}